.home-page{
  
}

.sidebar-column{
  padding: 0px;
  z-index: 2;
}

.column-body{
  padding: 0px;
  z-index: 0;
}

.name{
  color: rgba(255,255,255, 1);
  letter-spacing: 5px;
  font-size: 60px;
  animation-name: name-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}



.dev{
  color: rgba(255,255,255,1);
  letter-spacing: 2.5px;
  font-size: 25px;
  animation-name:dev-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes name-animation{
  0% {transform: translateY(100px);}
  100% {transform: translate(0px)}
}

@keyframes dev-animation{
  0% {transform: translateY(100px);}
  100% {transform: translate(0px)}
}


.technologies{
  margin-top: 50px;
  color: rgba(255,255,255,1);
  letter-spacing: 4px;
  border-left: 1px rgba(255,255,255,1) solid;
  padding-left: 10px;
  height: auto;
}

.tech-names{
  letter-spacing: 2.5px;
  animation-name:tech-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes tech-animation{
  0% {
    transform: translateX(-200px);
    opacity: 0;}

  100% {
    transform: translate(0px);
  }
}


.tech-names{
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .technologies{
    margin-top: 20px;
  }

  .tech-names{
    padding: 0;
  }
}
