.home-page{
  padding-bottom: 100px;
}

.name{
  color: rgba(255,255,255, 1);
  letter-spacing: 5px;
  font-size: 60px;
  animation-name: name-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

.dev{
  color: rgba(255,255,255,1);
  letter-spacing: 2.5px;
  font-size: 25px;
  animation-name:dev-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

.home-item-prop{
  animation-name: home-item-prop-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 2s;
}

@keyframes name-animation{
  0% {transform: translateY(100px);}
  100% {transform: translate(0px)}
}

@keyframes dev-animation{
  0% {transform: translateY(100px);}
  100% {transform: translate(0px)}
}

@keyframes home-item-prop-animation{
  0% {transform: translateY(0px);}
  100% {transform: translateX(10px);}
}

.technologies{
  margin-top: 40px;
  color: rgba(255,255,255,1);
  letter-spacing: 4px;
  padding-left: 10px;
  height: auto;
}

.technologies-border{
  border-left: 1px rgba(255,255,255,1) solid;
  animation-name:tech-border;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes tech-border{
  0% {
    height: 0px;
    }

  100% {
    height: 300px;
  }
}

.tech-names{
  letter-spacing: 2.5px;
  animation-name:tech-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes tech-animation{
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {transform: translate(0px);}
}


.tech-names{
  font-weight: 300;
}



@media only screen and (max-width: 768px) {
  .technologies{
    margin-top: 20px;
  }

  .tech-names{
    padding-left: 10px;
  }
}
