.contact-page{
  position: relative;
}


.contact-header{
  color: rgba(255,255,255, 1);
  letter-spacing: 5px;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
  font-weight: 300;
  animation-name:contact-header;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes contact-header{
  0% {transform: translateY(50px);}
  100% {transform: translate(0px)}
}



#contact-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-size: 18px;
  letter-spacing: 2px;
  color: rgba(255,255,255,1);
  font-weight: 300;
  max-width: 700px;
  padding-left: 3%;
  padding-right: 3%;
  animation-name: about-text;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes contact-text{
  0% {transform: translateX(-100px);}
  100% {transform: translate(0px)}
}

.contact-hr{
  width: 200px;
  height: 2px;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
}

@media only screen and (max-width: 768px) {
  #contact-text{
    font-weight: normal;
  }
}
