.contact-page{
  position: relative;
}

.contact-container {
    padding: 0px;
    max-width: 1000px;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 80vh;
}

.form-column{
  margin-left: auto;
  margin-right: auto;
}

.contact-header{
  color: rgba(255,255,255, 1);
  letter-spacing: 5px;
  font-size: 40px;
  padding-top: 30px;
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  animation-name:contact-header;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

input[type="text"]::-webkit-input-placeholder, textarea[type="text"]::-webkit-input-placeholder {
  color: rgba(255,255,255,0.65);
  font-size: 0.8em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

@keyframes contact-header{
  0% {transform: translateY(50px);}
  100% {transform: translate(0px)}
}

.contact-container table{
  margin-right: auto;
  margin-left: auto;
}

.contact-row{
  height: 50px;
}

.contact-icon{
  text-align: center;
  border: 1px rgba(255, 255, 255, 1) solid;
  animation-name: contact-column;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
  width: 60px;
  height: 60px;
}

.contact-icon img{
  width: 40px;
  height: 40px;
}

.contact-column{
  text-align: center;
  margin: auto auto auto auto;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgba(255,255,255,1);
  font-weight: 300;
  border: 1px rgba(255, 255, 255, 1) solid;
  animation-name: contact-column;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
  padding: 0 5px 0 5px;
}

.text-input{
  height: 20px;
  width: 300px;
  margin: 5px auto 10px auto;
  font-size: 14px;
  background-color: rgba(50, 50, 50, 0.3);
  font-weight: 300;
  padding: 15px;
  text-align: left;
}

textarea[type=text]{
  height: 70px;
}

.submit-button{
  height: 50px;
  width: 330px;
  text-align: center;
  margin: 0 auto 100px auto;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgba(255,255,255,1);
  background-color: rgba(0, 50, 150, 0.7);
  font-weight: 300;
  border: 1px rgba(0, 100, 200, 0.5) solid;
  animation-name: contact-column;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes contact-column{
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: translate(0px);
  }
}

.contact-hr{
  height: 2px;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  animation-name: about-hr;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

.error-line {
  color: rgba(255,0,0,1);
  letter-spacing: 3px;
  font-size: 10px;
  height: 12px;

}

@keyframes contact-hr{
  0% {width: 0px;}
  100% {width: 200px;}
}

@media only screen and (max-width: 768px) {
  .contact-column{
    font-size: 14px;
    max-width: auto;
  }

  .contact-icon img {
    width: 30px;
    height: 30px;
  }
}
